
.registration{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}


/* CSS DO EDYCJI PRODUKTOW */
.grid-container {
    height: 600px;
    width: 100%;
	display: grid;
	grid-template-columns: 10% 2% 2% 16% 16% 5% 16% 2% 15%;
	grid-template-rows: 30px 5px 30px 5px 30px 5px 30px 5px 30px 5px 30px 5px 30px 5px 30px 5px 30px 5px 30px 5px 30px 5px 30px 5px 30px 5px 30px 5px;
	justify-content: center;
}


/*
		<div class="Dodaj_produkt_label">  </div>
		<div class="nazwa_label">  </div>
		<div class="wegle_label">  </div>
		<div class="białko_label">  </div>
		<div class="tłuszcze_label">  </div>
		<div class="kategoria_label">  </div>
		<div class="zdjęcie_label">  </div>
		
		<div class="nazwa_label_error">  </div>
		<div class="wegle_label_error">  </div>
		<div class="białko_label_error">  </div>
		<div class="tłuszcze_label_error">  </div>
		<div class="kategoria_label_error">  </div>
		<div class="zdjęcie_label_error">  </div>
		*/
		.Dodaj_produkt_label {
			grid-row: 3;
			grid-column: 4/8;
			text-align: center;
			font-size: 25px;
		}
		
			.nazwa_label {
			grid-row: 5;
			grid-column: 4/5;
			text-align: center;
		}
					.wegle_label {
			grid-row: 7;
			grid-column: 4/5;
			text-align: center;
		}
					.bialko_label {
			grid-row: 9;
			grid-column: 4/5;
			text-align: center;
		}
					.tluszcze_label {
			grid-row: 11;
			grid-column: 4/5;
			text-align: center;
		}
		
							.haslo_potwierdzenie {
			grid-row: 13;
			grid-column: 4/5;
			text-align: center;
		}
		
		
					.kategoria_label {
			grid-row: 15;
			grid-column: 4/5;
			text-align: center;
		}
					.zdjecie_label {
			grid-row: 17;
			grid-column: 4/5;
			text-align: center;
		}
		
		#nazwa_label_error {
			grid-row: 5;
			grid-column: 7;
		}
		#nazwisko_label_error {
			grid-row: 7;
			grid-column: 7;
		}
		#email_label_error {
			grid-row: 9;
			grid-column: 7;
		}
		#haslo_label_error {
			grid-row: 11;
			grid-column: 7;
		}
		#haslo_potwierdzenie_error {
			grid-row: 13;
			grid-column: 7;
		}
		#rok_urodzenia_label_error {
			grid-row: 15;
			grid-column: 7;
		}
		#zdjecie_label_error {
			grid-row: 17;
			grid-column: 7;
		}
		
		#dodawanie_label_error {
			grid-row: 21;
			grid-column: 5;
		}
		
		.error{
			text-align: center;
			color:red;
			visibility: visible;
		}
		
		
		.imie_label_input{
			grid-row: 5;
			grid-column: 5;
			text-align: center;
		
			
		}
		.nazwisko_label_input {
			grid-row: 7;
			grid-column: 5;
			text-align: center;
			
		}
		.email_label_input {
			grid-row: 9;
			grid-column: 5;
			text-align: center;
			
		}
		.haslo_label_input {
			grid-row: 11;
			grid-column: 5;
			text-align: center;
		
		}
				.haslo_potwierdzenie_input {
			grid-row: 13;
			grid-column: 5;
			text-align: center;
		
		}
		
		.rok_urodzenia_label_input {
			grid-row: 15;
			grid-column: 5;
			text-align: center;
	
		}
		.zdjecie_label_input {
			grid-row: 17;
			grid-column: 5;
			text-align: center;
			
		}
	.imie_label_input input, .nazwisko_label_input input, .email_label_input input, .haslo_label_input input, .zdjecie_label_input input, .haslo_potwierdzenie_input input{
		background: black;
		color: white;
		width:100%;
		height:100%;
	}
	
	.rok_urodzenia_label_input select{
		width:100%;
		height:100%;
		background: black;
		color: white;
	}
	
	
	
	
	
	
	
	
	
	.produkt_powrot {
	grid-row: 19;
	grid-column: 9;
	background: black;
	border: 2px solid black;
}

.produkt_dodaj{
	grid-row: 19;
	grid-column: 5;
	background:black;
	color: white;
	border: 2px solid black;
}

.produkt_wybierz a, .produkt_powrot a, .produkt_sortuj a, .produkt_edytuj a, .produkt_dodaj a{
    display: block;
    float: left;
    width: 100%;
	height: 100%;
    padding-top:2px;
    font-size: 15px;
	color: white;
    text-decoration: none;
    text-align: center;
    transition: all 0.7s ease;
}

.zdjecie_label_input  input{
	background:black;
	color: white;
	
}



.produkt_wybierz a:hover, .produkt_powrot a:hover, .produkt_sortuj  a:hover, .produkt_edytuj a:hover, .produkt_dodaj a:hover{
	background:black;
	border: 5px solid black;
	margin-bottom: 20px;
	color:red;
	
}

		
		