.footer{
    
	width: 100%;
    display: block;
    float: left;
    height: 70px;
    background-color: black;
    color: white;
    line-height: 30px;
  
    margin-top: 20;
}

.footer div {
	display: block;
    float: left;
    width: 50%;
	height: 150px;
}

.podpis{
    color: white;
	text-align: left;
	padding-top: 20px
}

.linki{
    color: white;
	text-align: right;
	padding-top: 20px
}

.linki a{
    color: white;
    text-decoration-line:none;
    padding-left: 5px;
    font-size: 14px;
    
}

.linki a:hover{
   
    background:#323232;
	border: 1px solid white;
    color:white;
    font-size: 13px;
    transition: all 0.5s ease;
}

